:root {
    --dark-grey: rgb(54, 54, 54);
    --grey: rgb(163, 163, 163);
    --white: rgb(254, 254, 254);
    --red: rgb(237, 74, 72);
    --orange: rgb(230, 146, 35); 
    --black: rgb(0, 0, 0);
    --screen-green: rgb(228, 249, 189);
}

* {
    padding: 0;
    margin: 0;
}

html, body {
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    /* background-color: var(--grey); */
    min-width: 500px;
}

#calculator {
    /* width: 400px; */
    background-color: var(--grey);
    margin-top: 100px;
    padding: 20px;
    border: 1px solid var(--dark-grey);
    border-radius: 1rem;
    box-shadow: 0 10px 20px 5px var(--grey);
}

#screen {
    font-size: 24px;
    color: var(--dark-grey);
    background-color: var(--screen-green);
    text-align: end;
    padding: 0.5rem;
    border: 1px solid var(--dark-grey);
    border-radius: 0.5rem;
    box-shadow: 0 2.5px 5px 1px var(--grey) inset;
}

#calculation {
    font-size: 32px;
    height: 40px;
}

#solution {
    font-size: 40px;
    height: 48px;
}




.buttons-grid {
    height: 400px;
    width: 320px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 0.5rem;
    padding: 10px 0;
}

button {
    font-size: 24px;
    padding: 1rem 0;
    border: none;
    border-radius: 100%;
}

#clear-button:hover,
#delete-button:hover {
    background-color: var(--red);
}

.operator-button:hover,
#equals-button:hover {
    background-color: var(--orange);
}

button:active {
    filter: brightness(85%);
}

#zero-button {
    grid-column: span 2;
    border-radius: 2.5rem;
}

footer {
    margin-top: auto;
    padding: 0.5rem;
}